body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.254;
    color: #333;
    width: 100%;
    min-width: 1160px;
}

header {
    background-color: rgb(15, 14, 13);
    padding: 15px 15px;
    padding-bottom: 0;
}

a {
    text-decoration: none;
}

.form-group {
    width: 50%;
    left: 60px;
    position: relative;
}

.form-group select {
    padding-left: 20px;
    text-align: right;
    position: absolute;
}

.form-group input[type=text] {
    width: 100%;
    z-index: 0;
    padding-left: 70px;
}

.form-group button {
    height: 34px;
    right: 5px;
    top: 3px;
    border: none;
    position: absolute;
    background-color: white;
}

.form-group button:hover {
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 12px;
}

.form-group select, .form-group input {
    height: 40px;
    border: 1px solid #68b8dc;
    border-radius: 12px;
}

.navbar {
    list-style-type: none;
    margin: 0 40px;
    padding: 0;
    overflow: hidden;
}

.icon {
    width: 20px;
    height: 20px;
}

.navbar li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: blue;
    color: white;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(46, 203, 231, 1));
}

#introduction-header {
    height: 400px;
    width: 100%;
}

#introduction-header h1 {
    margin: 0;
    padding: 10%;
    text-align: center;
}

.row {
    padding: 50px;
    display: flex;
}

.col {
    padding: 0 20px;
    flex: 1;
}

.grip-container {
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 30px;
    grid-template-columns: auto auto;
}

.image-department {
    width: 100%;
    height: 150px;
}

.image-shop {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 65%;
}

.image-deal {
    display: block;
    width: 100%;
    height: 60%;
}

.col button {
    display: block;
    margin: 30px auto;
    padding: 3px 5px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 10px;
}

.col-1 button {
    margin-top: 0;
    margin-left: 0;
}

.col-2 {
    height: 100%;
}

.btn-col-3 {
    height: 100%;
    position: relative;
}

.btn-col-3 button {
    margin-bottom: 0;
    bottom: 10px;
    width: 100%;
    position: absolute;
}

.col button:hover {
    background: #853d79;
}

.return-top {
    margin-top: 15px;
    height: 30px;
    background-color: yellow;
    text-align: center;
}

.return-top:hover {
    color: white;
    background-color: #2537df;
}

.footer a {
    display: block;
}

.footer {
    padding: 50px;
    background-color: #3c464b;
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}